@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0d9488;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.maplibregl-ctrl-attrib {
  font-size: 10px;
}
